body {
  margin: 10px;
}

.darkMode {
  background-color: #01263a;
  color: #c3c4c7;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.paragraph {
  display: flex;
}